@font-face {
    font-family: "omyu_pretty";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    background-color: #fff;
}

.main-container {
    margin: auto;
    margin-top: 100px;
    background-color: black;
    width: 400px;
    height: 580px;
    border-radius: 30px;
    border: none;
    padding: 40px;
    font-family: omyu_pretty;

}

#result {
    font-size: 50px;
    color: #fff;
    text-align: right;
    padding: 7px;
}

.calc-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calc-btn {
    width: 100%;
    height: 62px;
    border-radius: 50px;
    border: none;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
}

.func {
    background-color: #d2d2d2;
    color: black;
}

.func:active {
    background-color: #fff;
}

.operator, .equal {
    background-color: orange;
    color: #fff;
}

.operator:focus, .equal:active {
    color: orange;
    background-color: #fff;
}

.number, .point {
    background-color: grey;
    color: #fff;
}

.number:active, .point:active {
    background-color: #acacac;
}

.col-3 {
    display: flex;
    justify-content: center;
}